<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->
  
<ion-content>

    <div class='gradient-bg' style='display: flex;justify-content: center;height: 50%;width: 100%'>
        <div style="display: flex;flex-flow: column;align-items: center;justify-content: center">
            <div style="border-radius: 50%;height: 40vw;width: 40vw;background: white;">
            <img style="height: 80%;width: 80%;margin: 10%" src='assets/imgs/thinkzone.png'>
          </div>
    </div>
    </div>

    <div style='display: flex;flex-flow: column;justify-content: flex-start;align-items: center;height: 50%;width: 100%'>
      <ion-card [ngClass]='(loginState==0)?"hidden":"card-4"'>
        <ion-card-header>
          <div>
              <p style='text-align: center'>LOGIN</p>
          </div>
        </ion-card-header>
        <ion-card-content>
          <p style='margin-left: 10px;color: red'>{{errormessage}}</p>
            <div class='input-item'>
                <ion-item style="width: 100%">
                  <ion-label position="stacked">Email<span style='color: red'>*</span></ion-label>
                  <ion-input (ionChange)='errormessage=""' required [(ngModel)]='email' type='email'></ion-input>
                </ion-item>
            </div>   
            <div class='input-item' style='margin-bottom: 30px'>
                <ion-item style="width: 100%">
                  <ion-label position="stacked">Password<span style='color: red'>*</span></ion-label>
                  <ion-input (ionChange)='errormessage=""' required [(ngModel)]='password' type='password'></ion-input>
                </ion-item>
            </div>    

            <!-- <div class='color-button'> -->
              <!-- </div> -->
        </ion-card-content>
      </ion-card>

      <div class='color-button' (click)='goToNextPage()'>
        <p style='margin-top: 10px;margin-bottom: 10px'>LOGIN</p>
      </div>

      <p style='text-align: center;font-size: 0.8rem;color: gray;margin-top: 15px'>FORGOT PASSWORD?</p>
    </div>
    <!-- <div style="margin-left: 10%;margin-right: 10%;width: 80%;display: flex;flex-flow: column;align-items: center;justify-content: center">
      <ion-card>
        <div style='display: flex;flex-flow: row;background: white;align-items: center'>
          <ion-icon style="font-size: 2rem;color: gray;margin-left: 16px"  name='mail'>
          </ion-icon>
          <ion-item>
            <ion-input type="email" placeholder='abcd@xyz.com'></ion-input>
          </ion-item>
        </div>      
      </ion-card>
      <ion-card>
        <div style='display: flex;flex-flow: row;background: white;align-items: center'>
          <ion-icon style="font-size: 2rem;color: gray;margin-left: 16px"  name='key'>
          </ion-icon>
          <ion-item>
            <ion-input type="password" placeholder='your password'></ion-input>
          </ion-item>
        </div>      
      </ion-card>

      <div style='margin-top: 30px;width: 100%'>
          <ion-button style="width: calc(100% - 20px);margin: 10px" shape="round" fill="outline">Login</ion-button>
      </div>
      <div style='width: 100%'>
          <ion-button color='success' style="width: calc(100% - 20px);margin: 10px" shape="round">Register</ion-button>
      </div>
  </div> -->
</ion-content>
